@import "./shared.scss";

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  max-width: 1200px;
  margin: auto;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-layout-header {
  display: flex;
}

.ant-layout {
  min-height: calc(100vh - 70px);
}

.logo {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.create-result {
  width: 500px;
  height: 300px;
  background-color: rgba(235, 235, 235, 0.7);
  overflow-y: scroll;
}

.templateCardContent {
  height: 250px;
  overflow: scroll;
  font-size: 10px;
}
